body {
  font-family: helvetica, arial, sans-serif;
  /* margin: 2em; */
}

h1,h2 {
  font-family: helvetica, arial, sans-serif;
}

.solidborder
{
	 border:1px solid black;
}

.navbar {
   font-family: helvetica, arial, sans-serif;
   background-color:gainsboro;
   color: black
}

.nav-link {
   text-decoration: none
}

/* a.dropdown-item { */
	/* text-decoration: none; */
/* } */